
/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Fredoka', sans-serif;;
}

.main-container{
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Main */

h1{
    color: #E5306F;
    font-size: 40px;
}

p{
    font-size: 18px;
}

h1, p{
    text-align: center;
    padding: 25px 0px 30px;
}

.cards-container > *{
    float: left;
    width: cal((100% / 3));
    margin: 0;
    padding: 10px;
}

.even:nth-of-type(even){
    margin-left: 20px;
    margin-right: 20px;
}




/* Debug */
.debug{
    background-color: lightcyan;
}

.img-cards{
    background-color: violet;
    height: 100px;
    width: 100px;
}

.text-cards{
    background-color: blueviolet;
    width: 200px;
    height: 100px;
}

.img-cards,.text-cards{
    float: left;
}