
/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Fredoka', sans-serif;;
}

.main-container{
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
}

/* Main */

h1{
    color: #E5306F;
    font-size: 40px;
    /* padding-top: 25px; */
}

p{
    font-size: 18px;
    /* padding-top: 30px; */
}

h1, p{
    text-align: center;
    padding: 25px 0px 30px;
}





/* Debug */
.debug{
    background-color: lightcyan;
}